<h2>
  <%= t "order.submit.orders_need_confirm" %>
  <%= link_to t("order.submit.all_orders"), manager_all_orders_path, class:"btn btn-primary pull-right" %>
</h2>
<% if @orders.blank? %>
  <h1><%= t "order.message.no_order" %></h1>
<% else %>
  <% @orders.each do |od_res| %>
    <% if find_order_detail_o_id(od_res).count > 1 %>
      <% find_order_detail_o_id(od_res).each do |detail| %>
        <% next if check_order_restaurant(find_order_detail_o_id(od_res).first.restaurant_id, current_user.id).blank? %>
        <% if !check_order_restaurant(detail.restaurant_id, current_user.id).blank? %>
          <div class="row col-md-12" id="each-detail">
            <%= render "shared/detail_food", detail: detail %>
            <%= render "shared/detail_user", od_res: od_res %>
          </div>
        <% end %>
      <% end %>
      <%= render "manager/orders/form_submit", od_res: od_res %>
    <% else %>
      <% next if check_order_restaurant(find_order_detail_o_id(od_res.id).first.restaurant_id, current_user.id).blank? %>
      <% if !check_order_restaurant(find_order_detail_o_id(od_res.id).first.restaurant_id, current_user.id).blank? %>
        <div class="row col-md-12" id="each-detail">
          <%= render "shared/detail_food", detail: find_order_detail_o_id(od_res).first %>
          <%= render "shared/detail_user", od_res: od_res %>
        </div>
      <% end %>
      <%= render "manager/orders/form_submit", od_res: od_res %>
    <% end %>
  <% end %>
  <%= paginate @orders, theme: "twitter-bootstrap-3" %>
<% end %>
