<%= provide :title, t(".title") %>
<div class="py-5 text-center" style="background-image: url('https://i.pinimg.com/originals/76/89/c5/7689c5513084cd3ae199cec4f9b84af3.jpg');background-size:cover;" >
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-3 mb-4 text-primary"><%= t ".welcome" %></h1>
        <p class="lead mb-5"><%= t ".welcome_text" %></p>
        <%= link_to t("layouts.header.signin"), root_path, class: "btn btn-lg mx-1 btn-secondary" %>
        <%= link_to t("layouts.header.signup"), root_path, class: "btn btn-lg btn-primary mx-1" %>
      </div>
    </div>
  </div>
</div>