<div class="row col-md-12">
  <% if !@notifications.blank? %>
    <% @notifications.each do |order_id| %>
      <% next if check_order_restaurant(find_order_detail_o_id(order_id.order_id).first.restaurant_id, current_user.id).blank? %>
      <div class="col-md-12" id="infor_customer">
        <h3><%= t "order.label.customer" %>:&nbsp;
          <%= find_customer(load_order(order_id.order_id).first.user_id).name %>
        </h3>
        <p>
          <%= t "order.label.customer_add" %>:&nbsp;
          <%= find_customer(load_order(order_id.order_id).first.user_id).address %>
        </p>
        <p>
          <%= t "order.label.customer_phone" %>:&nbsp;
          <%= find_customer(load_order(order_id.order_id).first.user_id).phone_number %>
        </p>
      </div>
      <% find_order_detail_o_id(order_id.order_id).each do |detail| %>
        <table class="table">
          <thead>
            <tr>
              <th><%= t "order.label.food" %></th>
              <th><%= t "order.label.init_price" %></th>
              <th><%= t "order.label.quantity" %></th>
              <th><%= t "users.show.restaurant" %></th>
              <th><%= t "users.show.address" %></th>
            </tr>
          </thead>
          <tbody>
            <% if !check_order_restaurant(detail.restaurant_id, current_user.id).blank? %>
              <tr>
                <td><%= find_food(detail.food_id).name %></td>
                <td><%= find_food(detail.food_id).price %></td>
                <td><%= detail.quantity %></td>
                <td><%= find_restaurant(detail.restaurant_id).name %></td>
                <td><%= find_restaurant(detail.restaurant_id).address %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan=4>
                <% if load_order(order_id.order_id).first.received? %>
                  <strong><i><%= t "notification.received_content" %></i></strong>
                <% else load_order(order_id.order_id).first.accepted?%>
                  <i><%= t "notification.accepted_content" %></i>
                <% end %>
              </td>
              <td>
                <strong><%= t "order.label.sum_order" %>:&nbsp;</strong>
                <strong><%= load_order(order_id.order_id).first.total_pice %>&nbsp;$</strong>
              </td>
            </tr>
          </tfoot>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>
