<div class="row col-md-12" id="detail-submit">
  <div class="col-md-6">
    <% if od_res.unordered? %>
      <p><strong>
        <%= t "order.label.sum_order"%>:&nbsp;
        <%= sum_total_temp(od_res.id) %>&nbsp;$
      </strong></p>
    <% else %>
      <p><strong>
        <%= t "order.label.sum_order"%>:&nbsp;
        <%= od_res.total_pice %>&nbsp;$
      </strong></p>
    <% end %>
  </div>
  <div class="row col-md-6">
    <% if od_res.accepted? %>
      <div class="col-md-6">
        <p id="status"><i><%= t "order.status.accepted" %></i></p>
      </div>
      <div class="col-md-6">
        <%= link_to t("order.submit.confirm_receipt"), user_order_confirm_receive_path(od_res), method: :patch, class:"btn btn-success" %>
      </div>
    <% elsif od_res.ordered? %>
      <p id="status"><i><%= t "order.status.ordered" %></i></p>
    <% elsif od_res.unordered? %>
      <p id="status"><i><%= t "order.status.unordered" %></i></p>
    <% else %>
      <p id="status"><i><%= t "order.status.received" %></i></p>
    <% end %>
  </div>
</div>
