<% if @food.disable? %>
<% else %>
  <div class="col-md-6 detail-food">
    <h1>
      <strong><%= @food.name %>&nbsp;</strong>
      <%= link_to edit_food_path do %>
        <i class="fa fa-edit" id="i_edit" data-toggle="tooltip" title="Edit food">
        </i>
      <% end %>
      <%= link_to food_delete_food_path(@food.id), method: :post,
          data: { confirm: t("food.confirm.confirm_del")}, remote: true do %>
        <i class="fa fa-trash" id="i_del" data-toggle="tooltip" title="Delete food">
        </i>
      <% end %>
      <%= link_to new_food_comment_path(@food), remote: true do %>
        <i class="fa fa-comment" id="i_cmt" data-toggle="tooltip" title="Comment">
        </i>
      <% end %>
    </h1>
    <p><%= t "food.label.category" %>:&nbsp;<%= @category.first.name_category %></p>
    <p><%= t "food.label.description" %>:&nbsp;<%= @food.description %></p>
    <p><%= t "food.label.price" %>:&nbsp;<%= @food.price %>$</p>
  </div>
  <div id="product-modal" class="modal fade"></div>
  <div class="row col-md-12">
    <% if @images.any? %>
      <% @images.each do |p| %>
        <div class="col-md-3">
          <%= image_tag p.image.url, class: "img-food", crop: :fill %>
          <%= link_to t("food.submit.edit_image"), edit_food_image_path(@food, p),
            {remote: true, data: {toggle: "modal",
            target: "#modal-window"}, class: "fa fa-edit"} %>

          <div id="modal-window" class="modal hide fade" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="comments col-md-12">
    <% if @food.comments.any? %>
      <h3 class="cmt-title text-center">Comments</h3>
      <%= render @comments %>
    <% end %>
  </div>
<% end %>
