<%= link_to new_restaurant_suggest_path(@restaurant), remote: true, class: "btn btn-success rounded-circle sticky-top pull-right" do %>
  <i class="fa fa-comments"></i>
<% end %>
<% if current_user.current_user? @restaurant.user %>
  <%= link_to new_restaurant_category_path(@restaurant), remote: true,
    class: "btn btn-primary rounded-circle sticky-top pull-right" do %>
    <i class="fa fa-plus" data-toggle="tooltip" title="Category"></i>
  <% end %>
<% end %>
<%= render "introduction" %>
<div id="product-modal" class="modal fade"></div>
<br>
<h1 class="text-center"><%= t ".new_foods" %></h1>
<%= render "new_food" %>
<br>
<h1 class="text-center"><%= t ".all_foods" %></h1>
<%= render "all_foods" %>

<% if @restaurant.suggests.any? %>
  <h1 class="cmt-title text-center"><%= t ".suggest" %></h1>
  <%= render @suggests %>
<% end %>
<h1 class="text-center"><%= t ".gmap" %></h1>
<p class="lead text-center"><%= t(".location") + "#{@restaurant.address}" %></p>
<%= image_tag google_map(@restaurant), class: "img-responsive center-block" %>
