<div class="text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-4">
        <h2 class="mb-4"><%= t ".contact" %></h2>
        <p class="m-0">
          <a href="tel:+841652791526" class="text-dark"><%= t ".phone" %></a>
        </p>
        <p>
          <a href="mailto:fff@framgia.com" class="text-dark"><%= t ".email" %></a>
        </p>
      </div>
      <div class="col-md-6 p-4">
        <h2 class="mb-4"><%= t ".location"%></h2>
        <p>
          <a href="https://www.google.it/maps" target="blank"
             class="text-dark"><%= t ".street" %>
            <br><%= t ".city" %></a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <p class="text-muted"><%= t ".copyright" %></p>
      </div>
    </div>
  </div>
</div>
